@import './variables.scss';
@import './_header.scss';
@import './_main.scss';
@import './_list.scss';
@import './_sidebar.scss';

body {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 30px;
}

main {
    display: flex;
    height: 95vh;
    width: 100%;
}

input {
    border: none;
    box-shadow: none;
    appearance: none;
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    &-active {
        display: flex;
    }
}