.list-container {
    width: 100%;
    height: 100%;
    background-color: $colorDarkest;
    color: $colorLight;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
   
    &-title {
        align-self: flex-start;
        margin-bottom: 2rem;
    }

    &-list {
        width: 100%;
        margin-top: 1rem;

        &-task {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;

            &:not(:first-child) {
                margin-top: 1rem;
            }

            & > li {
                font-size: 20px;
            }

            &-dots {
                position: absolute;
                right: 0.2rem;
                background: url('./img/dots.svg');
                background-size: contain;
                background-repeat: no-repeat;
                display: flex;
                height: 0.5rem;
                width: 2rem;
                cursor: pointer;
                z-index: 1;
            }

            &-text {
                font-size: 20px;
                display: flex;
                align-items: center;

                &-title {
                    margin-left: 1rem;

                    &-done {
                        color: $colorDarker;
                        text-decoration: line-through;
                        
                        &-overdue {
                            color: $colorDoneOverdue !important; 
                            text-decoration: line-through;
                        }
                    }

                    &-overdue {
                        color: $colorOverdue;
                    }
                }
            }
            
            &-dropdown {
                z-index: 2;
                position: absolute;
                display: none;
                flex-direction: column;
                top: 0;
                right: 0;
                width: 11rem;
                overflow: hidden;
                background-color: $colorDark;
                font-size: 20px;
                border: solid 0.1rem $colorLight;
            
                &-active {
                    display: flex;
                }
            
                &-bar {
                    display: flex;
                    border: none;
                    padding: 0.5rem;
                    cursor: pointer;
                
                    &:hover {
                        background-color: $colorDarkest;
                    }
                
                    &-button {
                        background-color: $colorDarker;
                        border: none;
                        width: 20%;
                        color: $colorLight;
                        cursor: pointer;
                
                        &:active {
                            background-color: $colorLight;
                            color: $colorDarkest;
                        }
                    }
                }
            
                &-project {

                    &-inactive {
                        display: none;
                    }
            
                    &-input {
                        display: none;

                        &-active {
                            display: flex;
                        }
            
                        &-input {
                            background-color: $colorDarkest;
                            width: 11rem;
                            display: flex;
                            justify-content: space-between;
                            border: none;
                            border-bottom: none;
                            padding: 0.5rem;
                            cursor: pointer;
                            color: $colorLight;
                            font-size: 20px;
                        }
                    }
                }
            
                &-date {
                
                    &-inactive {
                        display: none;
                    }
            
                    &-input {
                        display: none;
                        width: 100%;
                        height: 2.55rem;
            
                        &-active {
                            display: flex;
                        }
            
                        &-date {
                            background-color: $colorDarkest;
                            color: $colorLight;
                            padding: 0.5rem 0rem;
                            width: 11rem;
                            text-indent: 0.5rem;
                        }
                    }
                }
                &-delete {
                    display: flex;
                }
            }               
        }
        
        &-lign {
            display: flex;
            width: 100%;
            height: 0.1rem;
            background-color: $colorLight;
        }

        &-date {
            position: absolute;
            font-size: 15px;
            right: 3rem;

            &-overdue {
                color: $colorOverdue;
            }

            &-done {

                &-overdue {
                    color: $colorDoneOverdue;
                }
            }
        }
    }

    &-add {
        display: flex;
        width: 100%;
        height: 2.5rem;
        font-size: 20px;
        align-self: flex-start;
        cursor: pointer;

        &-inactive {
            display: none;
        }

        &:hover {
            text-decoration: underline;
        }

        &-add {
            display: flex;
            align-items: center;
            grid-gap: 1rem;
        }

        &-task {
            display: none;
            width: 100%;
            height: 2.5rem;
            z-index: 2;

            &-input {
                padding: 0.5rem;
                background-color: $colorDarkest;
                border: solid 0.1rem $colorDarker;
                border-right: none;
                color: $colorLight;
                font-size: 20px;
                width: 90%;
            }

            &-active {
                display: flex;
            }

            & > button {
                width: 10%;
                color: $colorLight;
                background-color: $colorDarker;
                font-size: 20px;
                border: none;
                cursor: pointer;

                &:hover {
                    background-color: $colorDark;
                    color: $colorDarkest;
                    border: solid 0.1rem $colorDarker;
                }
            }

            & > button:first-of-type {
                border-right: none;
            }

            & > button:last-of-type {
                border-left: none;
            }
        }
    }
}