.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 2rem;
    width: 20rem;
    height: 100%;
    background-color: $colorDark;
    color: $colorLight;

    &-closed {
        display: none;
    }

    &-list {

        &-title {
            display: flex;
            align-items: center;
            grid-gap: 1rem;

            & > li {
                font-size: 20px;
                cursor: pointer;
            }

            &:not(:last-of-type) {
                padding-bottom: 0.5rem;
            }
        }
    }

    &-projects {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        margin-top: 2rem;

        &-title {
            font-size: 20px;
            margin: 0;

            &:not(:last-of-type) {
                margin-bottom: 1rem;
            }
        }

        &-add {
            display: flex;
            align-items: center;
            font-size: 20px;
            cursor: pointer;

            &-inactive {
                display: none
            }

            &:hover {
                text-decoration: underline;
            }

            &-title {
                margin-left: 0.5rem;
            }

            &-project {
                @extend .list-add-task;
                margin-top: 0.5rem;
                z-index: 2;

                &-active {
                    display: flex
                }

                &-input {
                    @extend .list-add-task-input;
                }

                & > button {
                    width: 20%;
                    color: $colorLight;
                    background-color: $colorDarker;
                    font-size: 20px;
                    border: none;
                    cursor: pointer;
    
                    &:hover {
                        background-color: $colorDark;
                        color: $colorDarkest;
                        border: solid 0.1rem $colorDarker;
                    }
                }
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            font-size: 20px;
            width: 100%;

            &-project {
                position: relative;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &:not(:last-child) {
                    margin-bottom: 0.5rem;
                }

                &-title {
                    margin-left: 1rem;
                    cursor: pointer;
                }

                &-dots {
                    background: url('./img/dots.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: flex;
                    height: 0.5rem;
                    width: 1.5rem;
                    cursor: pointer;
                    justify-self: flex-end;
                    z-index: 2;
                }

                &-dropdown {
                    z-index: 2;
                    position: absolute;
                    display: none;
                    flex-direction: column;
                    top: 0;
                    right: 0;
                    width: 4rem;
                    overflow: hidden;
                    background-color: $colorDark;
                    font-size: 20px;

                    &-active {
                        display: flex;
                    }

                    &-delete {
                        padding: 0.2rem;
                        cursor: pointer;
                        background-color: $colorDarkest;

                        &:hover {
                            background-color: $colorDarker;
                        }
                    }
                }
            }
        }
    }

}

.dot-text {
    display: flex;
    align-items: center;
}