@import './variables';
@import './_header';
@import './main';
@import './_list';
@import './_sidebar';

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 30px;
}

main {
    display: flex;
    height: 100vh;
    width: 100%;
}

input {
    border: none;
    box-shadow: none;
    appearance: none;
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    &-active {
        display: flex;
    }
}